@import url('./css-reset.css');

body {
	font-family: Arial, sans-serif;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	text-align: center;
}

form {
	margin-bottom: 20px;
	text-align: center;
}

#weather-container {
	background-color: #f0f0f0;
	border-radius: 10px;
	padding: 20px;
	width: 100%;
	max-width: 400px;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-condition {
	display: flex;
	align-items: center;
	justify-content: center;
}

.weather-condition img {
	width: 64px;
	height: 64px;
	margin-right: 10px;
}

.weather-condition p {
	margin: 0;
}

p {
	margin: 10px 0;
}

#loading {
	display: none;
	font-size: 1.5em;
	color: #555;
	margin-top: 20px;
}
